body {
	background-color: rgb(6, 4, 43);
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.books {
		.book {
			background-color: rgb(14, 11, 74);
			padding: 20px;
			margin: 0 0 10px 0;
			border-radius: 5px;
			display: flex;

			img {
				margin-top: 10px;
				height: 130px;
			}

			.info {
				margin-left: 20px;

				.title {
					color: rgb(210, 210, 133);
				}

				.description {
					font-size: 1.1rem;
					font-style: italic;
				}
			}
			.buttons {
				button {
					margin-right: 5px;
				}
			}
		}
	}

	.members {
		.member {
			background-color: rgb(3, 30, 11);
			padding: 20px;
			border-radius: 5px;
			display: flex;
			margin-bottom: 10px;

			img {
				height: 100px;
			}

			.info {
				margin-left: 20px;

				.name {
					color: rgb(228, 185, 105);
				}

				.notes {
					font-size: 1.1rem;
					font-style: italic;
				}
			}
		}

	}
}